<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="full">
    <ion-label position="floating">User Name</ion-label>
    <ion-input  type="input"   [(ngModel)]="userName" (ionChange)="onNameChange($event)"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Old Password</ion-label>
    <ion-input  type="password"   [(ngModel)]="oldPassword" (ionChange)="onOldpasswordChange($event)"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">New Password</ion-label>
    <ion-input type="password"   [(ngModel)]="newPassword" (ionChange)="onNewpasswordChange($event)"></ion-input>
  </ion-item>

  <ion-button (click)="updatePassword()" color="primary" expand="block">Update</ion-button>

</ion-content>
