
<ion-card-content>
  <h2 style="text-align: center;">Enter User Name & Password</h2>

  <ion-item lines="full">
    <ion-label position="floating">User Name</ion-label>
    <ion-input  type="input"   [(ngModel)]="userName" (ionChange)="onNameChange($event)"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Password</ion-label>
    <ion-input  type="password"   [(ngModel)]="password" (ionChange)="onpasswordChange($event)"></ion-input>
  </ion-item>


  <ion-button (click)="login()" color="primary" expand="block">Login</ion-button>
</ion-card-content>




