<ion-header>
  <ion-toolbar>
    <ion-title>video-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="getSafeUrl(url)"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

      </ion-card>
    </ion-col>


  </ion-row>
</ion-content>
